@model IEnumerable<BookStoreApp.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceImport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceHire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateImport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCategory.Name_BookCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceImport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceHire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateImport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategory.Name_BookCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Book }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Book }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Book })
        </td>
    </tr>
}

</table>
